<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org">
<head>
<title>Strike the Note</title>
<meta charset="UTF-8">
<meta name="description" content="Tienda de instrumentos musicales">
<meta name="keywords" content="music, instrument, guitar, note" />
<meta name="author" content="Daniel Esteban & Amanda Segura" />
<meta name="copyright" content="Daniel Esteban & Amanda Segura" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.minSKETCHY.css}" />
<style th:inline="text">
body {
	background-image: url("/imagenes/fondo.jpg");
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.boton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}
</style>
</head>
<body>
		<header>
			<!--Cabecera con logo en imágenes que presentan la página-->
			<figure>
				<img class="logo" th:src="@{/imagenes/logo.png}" />
			</figure>
			<nav>
				<!--Enlace al final de la página-->
				<a name="arriba" href=#abajo class="boton"><button type="button"
						class="btn btn-warning boton">Ir abajo</button></a> <br />
				<div class="progress">
					<div class="progress-bar bg-info" role="progressbar"
						style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
						aria-valuemax="100"></div>
				</div>
				<br />
			</nav>
		</header>
		<section class="back">
			<!--Contenedor de secciones y artículos de la página-->
			<h1>Nuestro cat&aacute;logo</h1>
			<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
				<div class="card-header">&iexcl;Productos con descuento!</div>
				<div class="card-body">
					<h4 class="card-title">Echa un vistazo</h4>
					<p class="card-text">
					<table class="table table-hover">
						<th:block th:each="producto, iterStat: ${productos}"
							th:if="${iterStat.index >= iterStat.size-8}">
							<tbody>
								<tr class="table-primary">
									<td th:text=${productos[1].nombreproducto}></td>
									<td th:text=${productos[2].nombreproducto}></td>
									<td th:text=${productos[3].nombreproducto}></td>
									<td th:text=${productos[4].nombreproducto}></td>
								</tr>
								<tr>
									<td th:text=${productos[5].nombreproducto}></td>
									<td th:text=${productos[6].nombreproducto}></td>
									<td th:text=${productos[7].nombreproducto}></td>
									<td th:text=${productos[8].nombreproducto}></td>
								</tr>
							</tbody>
						</th:block>
					</table>
					</p>
				</div>
			</div>
			<br />
			<div class="progress">
				<div class="progress-bar bg-info" role="progressbar"
					style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
					aria-valuemax="100"></div>
			</div>
			<br />
			<button class="btn btn-success boton"><a target="self" href="localhost:9090/productsearch">Buscar o crear productos</a></button>
		</section>
		<br />
		<!--Pie de página que permite regresar al principio-->
		<footer>
			<div class="progress">
				<div class="progress-bar bg-info" role="progressbar"
					style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
					aria-valuemax="100"></div>
			</div>
			<br /> <a name="abajo" href=#arriba class="boton"><button
					type="button" class="btn btn-warning boton">Ir arriba</button></a>
		</footer>
</body>
</html>