<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Strike the Note</title>
<meta charset="UTF-8">
<meta name="description" content="Tienda de instrumentos musicales">
<meta name="keywords" content="music, instrument, guitar, note" />
<meta name="author" content="Daniel Esteban & Amanda Segura" />
<meta name="copyright" content="Daniel Esteban & Amanda Segura" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.minSKETCHY.css}" />
<style th:inline="text">
body {
	background-image: url("/pictures/fondo.jpg");
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.boton {
	display: block;
	left: 50%;
	right: auto;
	text-decoration: none;
}

#fondito {
	margin: 2em;
	background-color: rgb(255, 238, 230, 0.6);
	border: 2px solid rgb(255, 153, 102);
}

.celdas {
	font-size: 1.6em;
	text-align: center;
}

div.tabla {
	margin-left: auto;
	margin-right: auto;
}

.foto {
	width: 50px;
	height: auto;
}
</style>
</head>
<body>
	<nav th:replace="navbar_loader"></nav>
	<div id="fondito">
		<header>
			<!--Cabecera con logo en imágenes que presentan la página-->
			<figure>
				<img class="logo" th:src="@{/pictures/logo.png}" />
			</figure>

			<a name="arriba" href=#abajo class="boton"><button type="button"
					class="btn btn-warning boton btn-sm">Ir abajo</button></a> <br />
			<div class="progress">
				<div class="progress-bar bg-info" role="progressbar"
					style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
					aria-valuemax="100"></div>
			</div>
			<br />
		</header>
		<section>
			<!--Contenedor de secciones y artículos de la página-->
			<h1 class="text-center" style="background-color: #ffdccc;">Nuestro
				cat&aacute;logo</h1>
			<br />
			<div class="card text-white bg-danger mb-3 tabla" style="width: 80%;">
				<div class="card-header">&iexcl;Productos con descuento!</div>
				<div class="card-body">
					<h4 th:if="${productos.empty}" class="card-title">No hay
						productos todavía</h4>
					<p class="card-text">
					<table class="table table-hover">
						<tbody th:each="producto, iterStat: ${productos}">
							<tr class="table-primary">

								<!-- Primer producto -->
								<td th:if="${iterStat.index == 0}" class="celdas">
									<div id="imagen_producto" th:if="${producto.imagen == null}">
										<figure>
											<img class="foto" th:src="@{/pictures/instrumento.png}" />
										</figure>
									</div>
									<div id="imagen_producto" th:if="${producto.imagen!=null}">
										<figure>
											<img class="foto"
												th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
										</figure>
									</div>
								</td>
								<td th:if="${iterStat.index == 0}" class="celdas"><span
									th:text="${producto.nombreProducto}"></span></td>
								<td th:if="${iterStat.index == 0}" class="celdas"><a
									th:href="@{/product/productid/{id}(id=${producto.idProducto})}"
									class="btn btn-info btn-lg">Ir al producto</a></td>

								<!-- Segundo producto -->
								<td th:if="${iterStat.index == 1}" class="celdas">
									<div id="imagen_producto" th:if="${producto.imagen == null}">
										<figure>
											<img class="foto" th:src="@{/pictures/instrumento.png}" />
										</figure>
									</div>
									<div id="imagen_producto" th:if="${producto.imagen!=null}">
										<figure>
											<img class="foto"
												th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
										</figure>
									</div>
								</td>
								<td th:if="${iterStat.index == 1}" class="celdas"><span
									th:text="${producto.nombreProducto}"></span></td>
								<td th:if="${iterStat.index == 1}" class="celdas"><a
									th:href="@{/product/productid/{id}(id=${producto.idProducto})}"
									class="btn btn-info btn-lg">Ir al producto</a></td>

								<!-- Tercer producto -->
								<td th:if="${iterStat.index == 2}" class="celdas">
									<div id="imagen_producto" th:if="${producto.imagen == null}">
										<figure>
											<img class="foto" th:src="@{/pictures/instrumento.png}" />
										</figure>
									</div>
									<div id="imagen_producto" th:if="${producto.imagen!=null}">
										<figure>
											<img class="foto"
												th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
										</figure>
									</div>
								</td>
								<td th:if="${iterStat.index == 2}" class="celdas"><span
									th:text="${producto.nombreProducto}"></span></td>
								<td th:if="${iterStat.index == 2}" class="celdas"><a
									th:href="@{/product/productid/{id}(id=${producto.idProducto})}"
									class="btn btn-info btn-lg">Ir al producto</a></td>

								<!-- Cuarto producto -->
								<td th:if="${iterStat.index == 3}" class="celdas">
									<div id="imagen_producto" th:if="${producto.imagen == null}">
										<figure>
											<img class="foto" th:src="@{/pictures/instrumento.png}" />
										</figure>
									</div>
									<div id="imagen_producto" th:if="${producto.imagen!=null}">
										<figure>
											<img class="foto"
												th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
										</figure>
									</div>
								</td>
								<td th:if="${iterStat.index == 3}" class="celdas"><span
									th:text="${producto.nombreProducto}"></span></td>
								<td th:if="${iterStat.index == 3}" class="celdas"><a
									th:href="@{/product/productid/{id}(id=${producto.idProducto})}"
									class="btn btn-info btn-lg">Ir al producto</a></td>

								<!-- Quinto producto -->
								<td th:if="${iterStat.index == 4}" class="celdas">
									<div id="imagen_producto" th:if="${producto.imagen == null}">
										<figure>
											<img class="foto" th:src="@{/pictures/instrumento.png}" />
										</figure>
									</div>
									<div id="imagen_producto" th:if="${producto.imagen!=null}">
										<figure>
											<img class="foto"
												th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
										</figure>
									</div>
								</td>
								<td th:if="${iterStat.index == 4}" class="celdas"><span
									th:text="${producto.nombreProducto}"></span></td>
								<td th:if="${iterStat.index == 4}" class="celdas"><a
									th:href="@{/product/productid/{id}(id=${producto.idProducto})}"
									class="btn btn-info btn-lg">Ir al producto</a></td>

								<!-- Sexto producto -->
								<td th:if="${iterStat.index == 5}" class="celdas">
									<div id="imagen_producto" th:if="${producto.imagen == null}">
										<figure>
											<img class="foto" th:src="@{/pictures/instrumento.png}" />
										</figure>
									</div>
									<div id="imagen_producto" th:if="${producto.imagen!=null}">
										<figure>
											<img class="foto"
												th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
										</figure>
									</div>
								</td>
								<td th:if="${iterStat.index == 5}" class="celdas"><span
									th:text="${producto.nombreProducto}"></span></td>
								<td th:if="${iterStat.index == 5}" class="celdas"><a
									th:href="@{/product/productid/{id}(id=${producto.idProducto})}"
									class="btn btn-info btn-lg">Ir al producto</a></td>

								<!-- Séptimo producto -->
								<td th:if="${iterStat.index == 6}" class="celdas">
									<div id="imagen_producto" th:if="${producto.imagen == null}">
										<figure>
											<img class="foto" th:src="@{/pictures/instrumento.png}" />
										</figure>
									</div>
									<div id="imagen_producto" th:if="${producto.imagen!=null}">
										<figure>
											<img class="foto"
												th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
										</figure>
									</div>
								</td>
								<td th:if="${iterStat.index == 6}" class="celdas"><span
									th:text="${producto.nombreProducto}"></span></td>
								<td th:if="${iterStat.index == 6}" class="celdas"><a
									th:href="@{/product/productid/{id}(id=${producto.idProducto})}"
									class="btn btn-info btn-lg">Ir al producto</a></td>

								<!-- Octavo producto -->
								<td th:if="${iterStat.index == 7}" class="celdas">
									<div id="imagen_producto" th:if="${producto.imagen == null}">
										<figure>
											<img class="foto" th:src="@{/pictures/instrumento.png}" />
										</figure>
									</div>
									<div id="imagen_producto" th:if="${producto.imagen!=null}">
										<figure>
											<img class="foto"
												th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
										</figure>
									</div>
								</td>
								<td th:if="${iterStat.index == 7}" class="celdas"><span
									th:text="${producto.nombreProducto}"></span></td>
								<td th:if="${iterStat.index == 7}" class="celdas"><a
									th:href="@{/product/productid/{id}(id=${producto.idProducto})}"
									class="btn btn-info btn-lg">Ir al producto</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br />
			<div class="progress">
				<div class="progress-bar bg-info" role="progressbar"
					style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
					aria-valuemax="100"></div>
			</div>
			<br />
		</section>
		<!--Pie de página que permite regresar al principio-->
		<footer>
			<a name="abajo" href=#arriba class="boton"><button type="button"
					class="btn btn-warning boton btn-sm">Ir arriba</button></a>
		</footer>
	</div>
</body>
</html>