<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org">
<head>
<title>Strike the Note</title>
<meta charset="UTF-8">
<meta name="description" content="Tienda de instrumentos musicales">
<meta name="keywords" content="music, instrument, guitar, note" />
<meta name="author" content="Daniel Esteban & Amanda Segura" />
<meta name="copyright" content="Daniel Esteban & Amanda Segura" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.minSKETCHY.css}" />
<style th:inline="text">
body {
	background-image: url("/imagenes/fondo.jpg");
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.boton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

#fondito {
	margin: 2em;
	background-color: rgb(255, 238, 230, 0.6);
	border: 2px solid rgb(255, 153, 102);
}
</style>
</head>
<body>
	<nav th:replace="navbar"></nav>
	<div id="fondito">
		<header>
			<!--Cabecera con logo en imágenes que presentan la página-->
			<figure>
				<img class="logo" th:src="@{/imagenes/logo.png}" />
			</figure>
			<br />
		</header>
		<form>
			<fieldset>
				<legend>Inicia sesión</legend>
				<div class="form-group">
					<label>Usuario</label> <input type="email" class="form-control"
						placeholder="Tu email es tu usuario" name="emailusuario">
				</div>
				<div class="form-group">
					<label>Contraseña</label> <input type="password"
						class="form-control" placeholder="Escribe aquí tu contraseña"
						name="passwordusuario">
				</div>

			</fieldset>
		</form>
	</div>
</body>
</html>