<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Strike the Note</title>
<meta charset="UTF-8">
<meta name="description" content="Tienda de instrumentos musicales">
<meta name="keywords" content="music, instrument, guitar, note" />
<meta name="author" content="Daniel Esteban & Amanda Segura" />
<meta name="copyright" content="Daniel Esteban & Amanda Segura" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:href="@{/js/bootstrap.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.minSKETCHY.css}" />
<!-- <script type="text/javascript" th:href="@{/js/myfunctions.js}"></script> -->
</head>

<body>

	<nav sec:authorize="isAnonymous()" th:replace="fragments/header_public"></nav>
	<nav
		sec:authorize="hasAuthority('ROL_PROFESOR') && !hasAuthority('ROL_ADMIN')"
		th:replace="fragments/header_user"></nav>
	<nav sec:authorize="hasAuthority('ROL_ADMIN')"
		th:replace="fragments/header_admin"></nav>


</body>
</html>