<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Strike the Note</title>
<meta charset="UTF-8">
<meta name="description" content="Tienda de instrumentos musicales">
<meta name="keywords" content="music, instrument, guitar, note" />
<meta name="author" content="Daniel Esteban & Amanda Segura" />
<meta name="copyright" content="Daniel Esteban & Amanda Segura" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.minSKETCHY.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous" />
<style th:inline="text">
body {
	background-image: url("/pictures/fondo.jpg");
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

#fondito {
	margin: 2em;
	background-color: rgb(255, 238, 230, 0.6);
	border: 2px solid rgb(255, 153, 102);
}

.grid-container {
	display: grid;
	grid-template-columns: 35% 65%;
	padding: 10px;
}

#imagenproductogrid1, #imagenproductogrid2, #tablaproducto,
	#botonescarrito, #preguntagrid {
	padding: 20px;
	font-size: 20px;
	text-align: center;
}

.grid-container1 {
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
}

.coloreado {
	background-color: #99ffff;
}

.foto {
	border: 2px solid black;
	margin: 2em;
	background-color: white;
	width: 200px;
	height: auto;
}

td, th {
	text-align: center;
}

#tablaquanda {
	width: 90%;
}
</style>
</head>
<body>
	<nav th:replace="navbar_loader"></nav>
	<div id="fondito">
		<header>
			<!--Cabecera con logo en imágenes que presentan la página-->
			<figure>
				<img class="logo" th:src="@{/pictures/logo.png}" />
			</figure>
		</header>
		<section>
			<h1 class="text-center" style="background-color: #ffdccc;">Producto
				en detalle</h1>
			<br />

			<div class="grid-container">

				<!-- Div con la imagen del producto y el botón de seleccionar archivo y actualizar imagen -->

				<div id="imagenproductogrid1" th:if="${producto.imagen!=null}">
					<figure>
						<img class="foto"
							th:src="@{/imagenes/{id}(id=${producto.imagen.idImagen})}" />
					</figure>
					<form sec:authorize="hasAuthority('admin')"
						th:action="@{/imagenes/cargar/{id}(id=${producto.idProducto})}"
						method="post" enctype="multipart/form-data">
						<input type="file" class="btn btn-secondary" id="imagen_producto"
							name="file"><br> <br>
						<button type="submit" class="btn btn-info">Actualizar
							imagen</button>
					</form>
				</div>
				<div id="imagenproductogrid2" th:if="${producto.imagen == null}">
					<figure>
						<img class="foto" th:src="@{/pictures/instrumento.png}" />
					</figure>
					<form sec:authorize="hasAuthority('admin')"
						th:action="@{/imagenes/cargar/{id}(id=${producto.idProducto})}"
						method="post" enctype="multipart/form-data">
						<input type="file" class="btn btn-secondary" id="imagen_producto"
							name="file"><br> <br>
						<button type="submit" class="btn btn-info">Actualizar
							imagen</button>
					</form>
				</div>

				<!-- Div con la tabla de información del producto y el botón mostrar producto -->

				<!-- AQUI -->
				<input type="hidden" id="idProducto"
					th:value="${producto.idProducto}" />

				<div id="tablaproducto">
					<table class="table table-bordered">
						<tr>
							<td class="coloreado">ID:</td>
							<td th:text="${producto.idProducto}" />
						</tr>
						<tr>
							<td class="coloreado">Nombre:</td>
							<td th:text="${producto.nombreProducto}" />
						</tr>
						<tr>
							<td class="coloreado">Descripción:</td>
							<td th:text="${producto.descripcionProducto}" />
						</tr>
						<tr>
							<td class="coloreado">Precio:</td>
							<td th:text="${producto.precioProducto}+' €'" />
						</tr>
						<tr>
							<td class="coloreado">Descuento:</td>
							<td th:text="${producto.descuentoProducto}+' %'" />
						</tr>
					</table>
					<form sec:authorize="hasAuthority('admin')"
						th:action="@{/product/borrar/{id}(id=${producto.idProducto})}"
						method="post">
						<button type="submit" class="btn btn-danger">Borrar
							producto</button>
					</form>
				</div>

				<!-- Div con los botones del carrito (cantidad y añadir producto) -->

				<div id="botonescarrito">
					<form
						sec:authorize="hasAuthority('registrado') || hasAuthority('admin')"
						th:action="@{/compra/add/{id}(id=${producto.idProducto})}"
						method="post">
						<!-- Cantidad -->

						<input type="text" id="quantity" name="cantidadproducto"
							class="form-control input-number" value="1" min="1" max="100"
							style="margin-bottom: 3px; text-align: center;">

						<div class="grid-container1">

							<!-- Botón menos -->

							<span class="input-group-btn">
								<button type="button"
									class="quantity-left-minus btn btn-danger btn-number"
									data-type="minus" data-field="">
									<i class="fas fa-minus"></i>
								</button>
							</span>

							<!-- Botón más -->

							<span class="input-group-btn">
								<button type="button"
									class="quantity-right-plus btn btn-success btn-number"
									data-type="plus" data-field="">
									<i class="fas fa-plus"></i>
								</button>
							</span>
						</div>
						<button type="submit" class="btn btn-success">Añadir
							producto al carrito</button>
					</form>
				</div>

				<!-- Div parte del primer grid con el text area para hacer la pregunta -->
				<div th:if="${session.idUsuario != null}">
					<div id="preguntagrid">
						<textarea rows="3" cols="100" name="pregunta" id="pregunta"
							required></textarea>
						<input type="button" class="btn btn-success" id="botonpregunta"
							value="Haz tu pregunta" />
					</div>
				</div>
			</div>

			<!-- Tabla para mostrar las preguntas y respuestas -->
			<table name="tablaqanda" id="tablaqanda" class="table table-hover">
				<thead>
					<tr>
						<th style="text-align: center;" scope="col">Fecha</th>
						<th style="text-align: center;" scope="col">Usuario</th>
						<th style="text-align: center;" scope="col">Preguntas/Respuestas</th>
						<th style="text-align: center;" scope="col">Opciones</th>
					</tr>
				</thead>
				<tbody th:each="pregunta: ${producto.getPreguntas()}">
					<!-- FILA CON PREGUNTAS -->
					<tr class="table-info" id="filaPregunta">
						<td th:text="${pregunta.fechaPregunta}" />
						<td th:text="${pregunta.usuario.nombreUsuario}" />
						<td th:text="${pregunta.textoPregunta}" />
						<td>
							<div th:if="${session.idUsuario != null}">
								<button id="botonBorrarPregunta" class="btn btn-outline-danger"
									th:if="${ (idUsuarioSESSION == pregunta.usuario.idUsuario) or #authorization.expression('hasAuthority(''admin'')')} ">Borra
									esta pregunta</button>
							</div>
						</td>
						<input type="hidden" id="idPregunta"
							th:value="${pregunta.idPregunta}" />
					</tr>

					<!-- FILA CON RESPUESTAS -->
					<tr th:each="respuesta: ${pregunta.respuestas}"
						class="table-success" id="filaRespuesta">
						<td th:text="${respuesta.fechaRespuesta}" />
						<td th:text="${respuesta.usuario.nombreUsuario}" />
						<td th:text="${respuesta.textoRespuesta}" id="textoRespuesta" />
						<td>
							<!-- Este botón con th:if puede servir para verlo o no según si se es el usuario registrado en sesión o admin -->
							<div th:if="${session.idUsuario != null}">
								<button
									th:if="${(idUsuarioSESSION == respuesta.usuario.idUsuario) or #authorization.expression('hasAuthority(''admin'')'))} "
									id="botonBorrarRespuesta" class="btn btn-outline-danger">Borra
									esta respuesta</button>
							</div>
							
							<div th:if="${session.idUsuario != null}">
								<button th:if="${(idUsuarioSESSION == respuesta.usuario.idUsuario) or #authorization.expression('hasAuthority(''admin'')'))} "
									id="botonEditarRespuesta" class="btn btn-outline-secondary">Edita
									esta respuesta</button>
							</div>
						</td>
						<input type="hidden" id="idRespuesta"
							th:value="${respuesta.idRespuesta}" />
					</tr>

					<!--  FILA PA RESPONDER -->
					<div th:if="${session.idUsuario != null}">
					<tr id="filaParaResponder">
						<td colspan="3"><textarea id="respuesta" cols="170" rows="3"
								required></textarea></td>
						<td><button id="botonParaResponder"
								class="btn btn-outline-primary">Responde a esta
								pregunta</button></td>
						<input type="hidden" id="idPregunta"
							th:value="${pregunta.idPregunta}" />
					</tr>
					</div>
				</tbody>
			</table>
		</section>
	</div>

	<!--  Script para botones de cantidad del carrito -->
	<script>
		$(document).ready(function() {

			var quantitiy = 0;
			$('.quantity-right-plus').click(function(e) {

				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				$('#quantity').val(quantity + 1);

				// Increment

			});

			$('.quantity-left-minus').click(function(e) {
				// Stop acting like a button
				e.preventDefault();
				// Get the field name
				var quantity = parseInt($('#quantity').val());

				// If is not undefined

				// Increment
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});
		});
	</script>
</body>
</html>