<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org">
<head>
<title>Strike the Note</title>
<meta charset="UTF-8">
<meta name="description" content="Tienda de instrumentos musicales">
<meta name="keywords" content="music, instrument, guitar, note" />
<meta name="author" content="Daniel Esteban & Amanda Segura" />
<meta name="copyright" content="Daniel Esteban & Amanda Segura" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.minSKETCHY.css}" />
<style th:inline="text">
body {
	background-image: url("/imagenes/fondo.jpg");
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
#fondito{margin:2em; background-color: rgb(255, 238, 230,0.6);
border: 2px solid rgb(255, 153, 102);}
</style>
</head>
<body>
<div id="fondito">

		<header>
			<!--Cabecera con logo en imágenes que presentan la página-->
			<figure>
				<img class="logo" th:src="@{/imagenes/logo.png}" />
			</figure>
		</header>
		<section>
		<div>
			<table class="table table-bordered">
				<tr class="table-dark">
				    <td colspan="2" th:switch="${category}">
				    <figure th:case="'Bárbaro'"><img th:src="@{/pics/barbarian.png}"/></figure>
				    <figure th:case="'Clérigo'"><img th:src="@{/pics/cleric.png}"/></figure>
				    <figure th:case="'Mago'"><img th:src="@{/pics/wizard.png}"/></figure>
				    <figure th:case="'Bardo'"><img th:src="@{/pics/bard.png}"/></figure>
				    </td>
				</tr>
				<tr class="table-dark">
				    <th>Nombre:</th>
				    <td th:text=${name}></td>
				</tr>
				<tr class="table-dark">
				    <th>Clase:</th>
				    <td th:text=${category}> </td>
				</tr>
				<tr class="table-dark">
				    <th>Descripción:</th>
				    <td width="80px" th:switch="${category}">
				    <p th:case="'Bárbaro'">No estás para bromas y se lo haces saber rápido a los demás. 
				    No te pesa la mano para coger el arma y liarte a mamporros. Alguien como tú es un poco bárbaro, pero no me mates por favor.</p>
				    <p th:case="'Clérigo'">Dios te escucha, o al menos eso es lo que tú te piensas. Te encanta difundir su palabra y valores 
				    más allá de los confines de tu mente, guste o no guste a los demás. Yo espero que no llames a mi puerta a venderme el librito...</p>
				    <p th:case="'Mago'">Lo tuyo es la magia, sentir el poder de los elemento y a pesar de tener tanto conocimiento, resolver todo con bolas de fuego. 
				    En serio, ya está bien, que no has podido evitar lanzar una ni mientras te cuento esto. No tenemos seguro contra incendios, pirómano.</p>
				    <p th:case="'Bardo'">Viva la juerga, la Pepa y su prima. como buen bardo, haces amigos allá donde vas sin importar especies o razas,solo te importa 
				    seguir el ritmo y darlo todo. Pues ole tú, di que sí y sigue así. ¡Y que corra el vino!</p>
				    </td>
				</tr>	
			</table>
			
			<h1 class="text-center">Historial</h1>
			
			<table class="table table-bordered">
				<tr>
						<td>ID:</td>
						<td th:text="${producto.idProducto}" />		
							
				</tr>	  	  	
				<tr>
						<td>Nombre:</td>
						<td th:text="${producto.nombreProducto}" />		
							
				</tr>	 
				<tr>
						<td>Descripción:</td>
						<td th:text="${producto.descripcionProducto}" />		
							
				</tr>	 
				<tr>
						<td>Precio:</td>
						<td th:text="${producto.precioProducto}" />		
							
				</tr>	 
				<tr>
						<td>Descuento:</td>
						<td th:text="${producto.descuentoProducto}" />		
							
				</tr>	 	  	  		
			</table>
		
		</div>
		
		<form th:action="@{/borrar}" method="post">
			<button type="submit" class="btn btn-primary">Borrar Producto</button>
		</form>
		
		</section>
			
</div>
</body>
</html>